:root {
    color: #e08dc1;
}


* {
margin: 0; padding: 0;
box-sizing: border-box;
font-family: sans-serif;
outline: none; border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color:#fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: #fc95c6;
}
header {
    position: fixed;
    top: 0; left:0; right: 0;
    background: #fc0c684b;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 1 .5rem 1 rem rgba(0, 0, 0, .1);
}


header .navbar a {
    font-size: 2rem;
    padding: 0 40px;
    color: #666;
}

header .navbar a:hover {
    color: rgb(231, 176, 203); 
}

header .icons a {
    font-size: 1.5rem;
    padding: 0 10px;
}


header #toggler{
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(211, 208, 208);
    background: url(img/flores.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  
}
.home .content {
    max-width: 50rem;
}
.home .content h3 {
    font-size: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #706e6fc5;
    margin-bottom: 25px;
}

.home .content span {
font-size: 3rem;
color: #ffffff;
padding: 3rem 0;
line-height: 1;
margin-bottom: 30px;
}

.home .content p {
    font-size: 2rem;
    color: rgb(57, 58, 58);
    padding: 1.5rem 0;
    line-height: 1;
    font-family: sans-serif;
    margin-bottom: 30px;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: url(imgcontacto/mrosa.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    background-color: rgb(247, 207, 230);
    height: 500px;
    width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 50px;
    border-radius: 55px;
}
.form{
    padding: 30px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form h2 {
    font-size: 20px;
    color: #f54671;
    font-weight: 900;
    margin-bottom: 10px;
}
.form p {
    font-size: 12px;
    color: rgb(156, 153, 154);
    margin-bottom: 25px;
}
label{
    font-size: 16px;
    color: #858383;
    margin-bottom: 5px;
}
.box {
    border: 0;
    background-color: #f3aebd;
    border-radius: 6px;
    margin-bottom: 6px;
    outline: none;
}

.submit {
    background-color: rgb(253, 138, 153);
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 12px;
    border-radius: 6px;
    width: 192px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 6px;
}
.submit:hover {
    background-color: rgb(253, 138, 153);
}

.middle {
    justify-content: center;
    display: flex;
    background-color: #fa618f;
}

.contents {

   
   justify-content: center;
   
   display: flex;
    background-color: rgb(243, 192, 212);
    height: 600px;
    width: 1300px;
    margin-top: 60px;
    border-radius: 50px;
  
}

.content1 {
    
    padding: 25px;
    margin: 0 50px;
    font-family: sans-serif;
   
}

.content1 h1 {
    margin-top: 30px;
}

.content2 h1 {
    margin-top: 30px;
}
.content3 h1 {
    margin-top: 30px;
}
.content2 {
    
    padding: 25px;
    margin: 0 50px;
    font-family: sans-serif;
   
}
.content3 {
  
    padding: 25px;
    margin: 0 50px;
    font-family: sans-serif;
    
}

.content1 img {
    border-radius: 20px;
}
.content2 img {
    border-radius: 20px;
}
.content3 img {
    border-radius: 20px;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

.slider-frame {
    width: 40%;
    height: 500px;
    margin: 50px auto 0;
    overflow: hidden;

    
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {

    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}


.container {
    display: flex;
    background-color: rgb(247, 207, 230);
    height: 550px;
    width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 60px;
    border-radius: 50px;
}

.form{
    padding: 30px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form h2 {
    font-size: 20px;
    color: #f54671;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.form p {
    font-size: 12px;
    color: rgb(156, 153, 154);
    margin-bottom: 25px;
    font-family: sans-serif;
    
}
label{
    font-size: 16px;
    color: #858383;
    margin-bottom: 5px;
    font-family: sans-serif;
}
.box {
    border: 0;
    background-color: #f3aebd;
    border-radius: 0 50px 50px 0;
    margin-bottom: 6px;
    outline: none;
}

.submit {
    background-color: rgb(253, 138, 153);
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 12px;
    border-radius: 6px;
    width: 192px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 6px;
    font-family: sans-serif;
}
.submit:hover {
    background-color: #f3aebd;
}

.body img {
    border-radius: 0 50px 50px 0;
}

body {
    background: url(imagenregistro/mrosa.jpg) no-repeat;
    
    background-size: cover;
    background-position: center;
}
        

    














